In [6]:
import pandas as pd
import numpy as np

obj = pd.Series([3,6,9,12],index=['eran','roni','noa','iris'])
print(obj)


data = {"Name":["Tom", "Jack", "nick", "juli"], "marks":[99, 98, 95, 90]}
df = pd.DataFrame(data, index =["rank1", "rank2", "rank3", "rank4"])
print(df)

eran     3
roni     6
noa      9
iris    12
dtype: int64
       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [8]:
#  Write a Pandas program to remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series

import pandas as pd

color1 = pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])
print(color1)
print(color1.str.strip())
print(color1.str.lstrip())
print(color1.str.rstrip())

Index([' Green', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

In [9]:
# Write a Pandas program to join the two given dataframes along rows and assign all data.

import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [10]:
# Write a Pandas program to append rows to an existing DataFrame and display the combined data.

import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
combined_data = student_data1.append(s6, ignore_index = True)
print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [11]:
# Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)
final_merged_data = pd.merge(result_data, exam_data, on='student_id')
print(final_merged_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Now join the said result_data and df_exam_data along student_id:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [12]:
# Write a Pandas program to merge two given dataframes with different columns.

import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

result = pd.concat([data1,data2], axis=0, ignore_index=True)
print(result)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3

In [13]:
# Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).
import re
def is_allowed_specific_char(string):
    charRe = re.compile(r'[^a-zA-Z0-9.]')
    string = charRe.search(string)
    return not bool(string)

print(is_allowed_specific_char("ABCDEFabcdef123450")) 
print(is_allowed_specific_char("*&%@#!}{"))

True
False

In [14]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list.
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [15]:
# Write a Python program that accepts a word from the user and reverse it.

word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

yah

In [16]:
# Write a Python program to get the Fibonacci series between 0 to 50

x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

In [ ]:
# Write a Pandas program to display the first, last name, salary and department number for those employees whose first name does not contain the letter 'M'.
import pandas as pd
employees = pd.read_csv(r"EMPLOYEES.csv")
departments = pd.read_csv(r"DEPARTMENTS.csv")
job_history = pd.read_csv(r"JOB_HISTORY.csv")
jobs = pd.read_csv(r"JOBS.csv")
countries = pd.read_csv(r"COUNTRIES.csv")
regions = pd.read_csv(r"REGIONS.csv")
locations = pd.read_csv(r"LOCATIONS.csv")
print("Last name       First name      Salary    Department ID")

result = employees[employees['first_name'].str.find('M')==-1]
for index, row in result.iterrows():
    print(row['last_name'].ljust(15),row['first_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

In [18]:
# Write a Pandas program to split the following dataframe into groups based on school code. Also check the type of GroupBy object.

import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

print("Original DataFrame:")
print(student_data)
print('\nSplit the said data on school_code wise:')
result = student_data.groupby(['school_code'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)
print("\nType of the object:")
print(type(result))

Original DataFrame:
   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S2        s002     V    Gino Mcneill     17/05/2002   12     192      32
S3        s003    VI     Ryan Parkes     16/02/1999   13     186      33
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30
S5        s002     V    Gino Mcneill     11/05/2002   14     151      31
S6        s004    VI    David Parkes     15/09/1997   12     159      32

    address
S1  street1
S2  street2
S3  street3
S4  street1
S5  street2
S6  street4

Split the said data on school_code wise:

Group:
s001
   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30

    address
S1  street1
S4  street1

Group:
s002
   school_code class          name date_Of_Birth   age  height  weight  \
S2        s002     V  Gino Mcneill     17/05/2002   12     192      32
S5        s002     V  Gino Mcneill     11/05/2002   14     151      31

    address
S2  street2
S5  street2

Group:
s003
   school_code class         name date_Of_Birth   age  height  weight  address
S3        s003    VI  Ryan Parkes     16/02/1999   13     186      33  street3

Group:
s004
   school_code class          name date_Of_Birth   age  height  weight  \
S6        s004    VI  David Parkes     15/09/1997   12     159      32

    address
S6  street4

Type of the object:
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [ ]:
# A valid UID must follow the rules below:
# It must contain at least  uppercase English alphabet characters.
# It must contain at least  digits ( - ).
# It should only contain alphanumeric characters ( - ,  -  &  - ).
# No character should repeat.
# There must be exactly  characters in a valid UID.

import re

for _ in range(int(input())):
    u = ''.join(sorted(input()))
    try:
        assert re.search(r'[A-Z]{2}', u)
        assert re.search(r'\d\d\d', u)
        assert not re.search(r'[^a-zA-Z0-9]', u)
        assert not re.search(r'(.)\1', u)
        assert len(u) == 10
    except:
        print('Invalid')
    else:
        print('Valid')

In [1]:
# Valid email addresses must follow these rules:
# It must have the username@websitename.extension format type.
# The username can only contain letters, digits, dashes and underscores.
# The website name can only have letters and digits.
# The maximum length of the extension is .

import re

def fun(s):
  pattern = re.compile("^[\\w-]+@[0-9a-zA-Z]+\\.[a-z]{1,3}$")
  return pattern.match(s)
       
def filter_mail(emails):
    return list(filter(fun, emails))

if __name__ == '__main__':
    n = int(input())
    emails = []
    for _ in range(n):
        emails.append(input())

filtered_emails = filter_mail(emails)
filtered_emails.sort()
print(filtered_emails)

ValueError: invalid literal for int() with base 10: 'fdvf'

In [13]:
# optimove question :
# We Have a dictionary with LTV data per user “historical_data”.

# Every few minutes we are receiving a smaller list with activities of new/existing users “new_data”.
# Complete the function update_hist that recieves a list of events as an input and updates the historical_data dictionary


historical_data = {1: {"LTV_AVG": 10, "LTV_ITEMS": 100}, 7: {"LTV_AVG": 4.5, "LTV_ITEMS": 2}}

new_data = [{"USER_ID": 1, "amount": 30, "items": 15}, {"USER_ID": 2, "amount": 10, "items": 1},
            {"USER_ID": 3, "amount": 60, "items": 12}, {"USER_ID": 2, "amount": 600, "items": 2},
            {"USER_ID": 77, "amount": 60, "items": 12,"device":"ios"}, {"USER_ID": 23, "amount": 2, "items": 1,"device":"android"},
            {"USER_ID": 3},{"USER_ID": 4,"name":"Sagi"},{"amount": 4,"items":50}]

def update_hist(new_data_list):
  global historical_data
  for dic in new_data:
        if all (k in dic for k in ("USER_ID","amount","items")): 
            if dic.get('USER_ID') in historical_data.keys():
                  old_user_dic = historical_data.get(dic.get('USER_ID'))
                  avg_old = old_user_dic.get('LTV_AVG')
                  items_old = old_user_dic.get('LTV_ITEMS')
                  amount = dic.get('amount')
                  items_new = dic.get('items')
                  up = ((avg_old * items_old) + amount)
                  down = items_old + items_new
                  update_avg = up / down
                  update_items = items_old + items_new
                  old_user_dic['LTV_AVG'] = update_avg
                  old_user_dic['LTV_ITEMS'] = update_items
                  historical_data[dic.get('USER_ID')] = old_user_dic
            else :
                  amount = dic.get('amount')
                  items = dic.get('items')
                  tmp = {"LTV_AVG": amount / items, "LTV_ITEMS": items}
                  historical_data[dic.get('USER_ID')] = tmp
             
update_hist(new_data)
print(historical_data)

{1: {'LTV_AVG': 8.956521739130435, 'LTV_ITEMS': 115}, 7: {'LTV_AVG': 4.5, 'LTV_ITEMS': 2}, 2: {'LTV_AVG': 203.33333333333334, 'LTV_ITEMS': 3}, 3: {'LTV_AVG': 5.0, 'LTV_ITEMS': 12}, 77: {'LTV_AVG': 5.0, 'LTV_ITEMS': 12}, 23: {'LTV_AVG': 2.0, 'LTV_ITEMS': 1}}

In [ ]:
# fiverr question :
# write script that will run query_1 for the last 30 days every day. you should able to change the number of days without change the script . if single day has an error for some reason the rest of the day still run ,the result should be sent to email as single csv file. the script should print only once to the screen the number of days with error . if there were no errors you should print "no error in the last x days" .

In [ ]:
# behalf python questions , create a function that:
# 1.return a value of the given attr in the given dic
# 2. check if a given string is a file path
# 3.adds to given date N months
# 4.return a value of a given attr (key) in a dic by its absolute path
# 5.counts the number of accurances of a key in a dic
# 6. return all distinct values of a given key in dic