In [6]:
import pandas as pd
import numpy as np

obj = pd.Series([3,6,9,12],index=['eran','roni','noa','iris'])
print(obj)


data = {"Name":["Tom", "Jack", "nick", "juli"], "marks":[99, 98, 95, 90]}
df = pd.DataFrame(data, index =["rank1", "rank2", "rank3", "rank4"])
print(df)

eran     3
roni     6
noa      9
iris    12
dtype: int64
       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [8]:
#  Write a Pandas program to remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series

import pandas as pd

color1 = pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])
print(color1)
print(color1.str.strip())
print(color1.str.lstrip())
print(color1.str.rstrip())

Index([' Green', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

In [9]:
# Write a Pandas program to join the two given dataframes along rows and assign all data.

import pandas as pd

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [10]:
# Write a Pandas program to append rows to an existing DataFrame and display the combined data.

import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
combined_data = student_data1.append(s6, ignore_index = True)
print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [11]:
# Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)
final_merged_data = pd.merge(result_data, exam_data, on='student_id')
print(final_merged_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Now join the said result_data and df_exam_data along student_id:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [12]:
# Write a Pandas program to merge two given dataframes with different columns.

import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

result = pd.concat([data1,data2], axis=0, ignore_index=True)
print(result)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3

In [13]:
# Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).
import re
def is_allowed_specific_char(string):
    charRe = re.compile(r'[^a-zA-Z0-9.]')
    string = charRe.search(string)
    return not bool(string)

print(is_allowed_specific_char("ABCDEFabcdef123450")) 
print(is_allowed_specific_char("*&%@#!}{"))

True
False

In [14]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list.
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [15]:
# Write a Python program that accepts a word from the user and reverse it.

word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

yah

In [16]:
# Write a Python program to get the Fibonacci series between 0 to 50

x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

In [ ]:
# Write a Pandas program to display the first, last name, salary and department number for those employees whose first name does not contain the letter 'M'.
import pandas as pd
employees = pd.read_csv(r"EMPLOYEES.csv")
departments = pd.read_csv(r"DEPARTMENTS.csv")
job_history = pd.read_csv(r"JOB_HISTORY.csv")
jobs = pd.read_csv(r"JOBS.csv")
countries = pd.read_csv(r"COUNTRIES.csv")
regions = pd.read_csv(r"REGIONS.csv")
locations = pd.read_csv(r"LOCATIONS.csv")
print("Last name       First name      Salary    Department ID")

result = employees[employees['first_name'].str.find('M')==-1]
for index, row in result.iterrows():
    print(row['last_name'].ljust(15),row['first_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

In [18]:
# Write a Pandas program to split the following dataframe into groups based on school code. Also check the type of GroupBy object.

import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
student_data = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])

print("Original DataFrame:")
print(student_data)
print('\nSplit the said data on school_code wise:')
result = student_data.groupby(['school_code'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)
print("\nType of the object:")
print(type(result))

Original DataFrame:
   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S2        s002     V    Gino Mcneill     17/05/2002   12     192      32
S3        s003    VI     Ryan Parkes     16/02/1999   13     186      33
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30
S5        s002     V    Gino Mcneill     11/05/2002   14     151      31
S6        s004    VI    David Parkes     15/09/1997   12     159      32

    address
S1  street1
S2  street2
S3  street3
S4  street1
S5  street2
S6  street4

Split the said data on school_code wise:

Group:
s001
   school_code class            name date_Of_Birth   age  height  weight  \
S1        s001     V  Alberto Franco     15/05/2002   12     173      35
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30

    address
S1  street1
S4  street1

Group:
s002
   school_code class          name date_Of_Birth   age  height  weight  \
S2        s002     V  Gino Mcneill     17/05/2002   12     192      32
S5        s002     V  Gino Mcneill     11/05/2002   14     151      31

    address
S2  street2
S5  street2

Group:
s003
   school_code class         name date_Of_Birth   age  height  weight  address
S3        s003    VI  Ryan Parkes     16/02/1999   13     186      33  street3

Group:
s004
   school_code class          name date_Of_Birth   age  height  weight  \
S6        s004    VI  David Parkes     15/09/1997   12     159      32

    address
S6  street4

Type of the object:
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [ ]:
# A valid UID must follow the rules below:
# It must contain at least  uppercase English alphabet characters.
# It must contain at least  digits ( - ).
# It should only contain alphanumeric characters ( - ,  -  &  - ).
# No character should repeat.
# There must be exactly  characters in a valid UID.

import re

for _ in range(int(input())):
    u = ''.join(sorted(input()))
    try:
        assert re.search(r'[A-Z]{2}', u)
        assert re.search(r'\d\d\d', u)
        assert not re.search(r'[^a-zA-Z0-9]', u)
        assert not re.search(r'(.)\1', u)
        assert len(u) == 10
    except:
        print('Invalid')
    else:
        print('Valid')

In [1]:
# Valid email addresses must follow these rules:
# It must have the username@websitename.extension format type.
# The username can only contain letters, digits, dashes and underscores.
# The website name can only have letters and digits.
# The maximum length of the extension is .

import re

def fun(s):
  pattern = re.compile("^[\\w-]+@[0-9a-zA-Z]+\\.[a-z]{1,3}$")
  return pattern.match(s)
       
def filter_mail(emails):
    return list(filter(fun, emails))

if __name__ == '__main__':
    n = int(input())
    emails = []
    for _ in range(n):
        emails.append(input())

filtered_emails = filter_mail(emails)
filtered_emails.sort()
print(filtered_emails)

ValueError: invalid literal for int() with base 10: 'fdvf'

In [13]:
# optimove question :
# We Have a dictionary with LTV data per user “historical_data”.

# Every few minutes we are receiving a smaller list with activities of new/existing users “new_data”.
# Complete the function update_hist that recieves a list of events as an input and updates the historical_data dictionary


historical_data = {1: {"LTV_AVG": 10, "LTV_ITEMS": 100}, 7: {"LTV_AVG": 4.5, "LTV_ITEMS": 2}}

new_data = [{"USER_ID": 1, "amount": 30, "items": 15}, {"USER_ID": 2, "amount": 10, "items": 1},
            {"USER_ID": 3, "amount": 60, "items": 12}, {"USER_ID": 2, "amount": 600, "items": 2},
            {"USER_ID": 77, "amount": 60, "items": 12,"device":"ios"}, {"USER_ID": 23, "amount": 2, "items": 1,"device":"android"},
            {"USER_ID": 3},{"USER_ID": 4,"name":"Sagi"},{"amount": 4,"items":50}]

def update_hist(new_data_list):
  global historical_data
  for dic in new_data:
        if all (k in dic for k in ("USER_ID","amount","items")): 
            if dic.get('USER_ID') in historical_data.keys():
                  old_user_dic = historical_data.get(dic.get('USER_ID'))
                  avg_old = old_user_dic.get('LTV_AVG')
                  items_old = old_user_dic.get('LTV_ITEMS')
                  amount = dic.get('amount')
                  items_new = dic.get('items')
                  up = ((avg_old * items_old) + amount)
                  down = items_old + items_new
                  update_avg = up / down
                  update_items = items_old + items_new
                  old_user_dic['LTV_AVG'] = update_avg
                  old_user_dic['LTV_ITEMS'] = update_items
                  historical_data[dic.get('USER_ID')] = old_user_dic
            else :
                  amount = dic.get('amount')
                  items = dic.get('items')
                  tmp = {"LTV_AVG": amount / items, "LTV_ITEMS": items}
                  historical_data[dic.get('USER_ID')] = tmp
             
update_hist(new_data)
print(historical_data)

{1: {'LTV_AVG': 8.956521739130435, 'LTV_ITEMS': 115}, 7: {'LTV_AVG': 4.5, 'LTV_ITEMS': 2}, 2: {'LTV_AVG': 203.33333333333334, 'LTV_ITEMS': 3}, 3: {'LTV_AVG': 5.0, 'LTV_ITEMS': 12}, 77: {'LTV_AVG': 5.0, 'LTV_ITEMS': 12}, 23: {'LTV_AVG': 2.0, 'LTV_ITEMS': 1}}

In [20]:
# fiverr question :
# write script that will run query_1 for the last 30 days every day. you should able to change the number of days without change the script . if single day has an error for some reason the rest of the day still run ,the result should be sent to email as single csv file. the script should print only once to the screen the number of days with error . if there were no errors you should print "no error in the last x days" . 

from datetime import timedelta,date

error_ctr = 0
start_date = date.today() - timedelta(30)
end_date = date.today()

def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)

for single_date in daterange(start_date, end_date):
    try:
        query = " SELECT id FROM  SPL WHERE date =  {} ".format(single_date)
        df = run_query(query)
        df.to_csv('path to save')
        df.to_json('path to save')
        send_email(recipients , csv_path)
        print(query)
        # print(single_date.strftime("%Y%m%d"))


    except:
        error_ctr += 1

 SELECT id FROM  SPL WHERE date =  2020-11-16
 SELECT id FROM  SPL WHERE date =  2020-11-17
 SELECT id FROM  SPL WHERE date =  2020-11-18
 SELECT id FROM  SPL WHERE date =  2020-11-19
 SELECT id FROM  SPL WHERE date =  2020-11-20
 SELECT id FROM  SPL WHERE date =  2020-11-21
 SELECT id FROM  SPL WHERE date =  2020-11-22
 SELECT id FROM  SPL WHERE date =  2020-11-23
 SELECT id FROM  SPL WHERE date =  2020-11-24
 SELECT id FROM  SPL WHERE date =  2020-11-25
 SELECT id FROM  SPL WHERE date =  2020-11-26
 SELECT id FROM  SPL WHERE date =  2020-11-27
 SELECT id FROM  SPL WHERE date =  2020-11-28
 SELECT id FROM  SPL WHERE date =  2020-11-29
 SELECT id FROM  SPL WHERE date =  2020-11-30
 SELECT id FROM  SPL WHERE date =  2020-12-01
 SELECT id FROM  SPL WHERE date =  2020-12-02
 SELECT id FROM  SPL WHERE date =  2020-12-03
 SELECT id FROM  SPL WHERE date =  2020-12-04
 SELECT id FROM  SPL WHERE date =  2020-12-05
 SELECT id FROM  SPL WHERE date =  2020-12-06
 SELECT id FROM  SPL WHERE date =  2020-12-07
 SELECT id FROM  SPL WHERE date =  2020-12-08
 SELECT id FROM  SPL WHERE date =  2020-12-09
 SELECT id FROM  SPL WHERE date =  2020-12-10
 SELECT id FROM  SPL WHERE date =  2020-12-11
 SELECT id FROM  SPL WHERE date =  2020-12-12
 SELECT id FROM  SPL WHERE date =  2020-12-13
 SELECT id FROM  SPL WHERE date =  2020-12-14
 SELECT id FROM  SPL WHERE date =  2020-12-15

In [5]:
# behalf python questions , create a function that:
# 1.return a value of the given attr in the given dic
# 2. check if a given string is a file path
# 3.adds to given date N months
# from datetime import datetime, timedelta
# from dateutil.relativedelta import *

# date = datetime.now()
# print(date)
# date = date + relativedelta(months=+6)
# print(date)

# 4.return a value of a given attr (key) in a dic by its absolute path
# 5.counts the number of accurances of a key in a list of dictionaries 
# from collections import Counter

# data = {1: {"LTV_AVG": 10, "LTV_ITEMS": 100}, 7: {"LTV_AVG": 4.5, "LTV_ITEMS": 2}}
 
# signs = Counter(k[0] for k in data if k.get(0))
# for sign, count in signs.most_common():
#      print(sign, count)


# 6. return all distinct values of a given key in dic

lis = [{"abc":"movies"}, {"abc": "sports"}, {"abc": "music"}, {"xyz": "music"}, {"pqr":"music"}, {"pqr":"movies"},{"pqr":"sports"}, {"pqr":"news"}, {"pqr":"sports"}]
s = set( val for dic in lis for val in dic.values())
print(s )

{'sports', 'music', 'news', 'movies'}

In [6]:
# In python code, given a json object with nested objects , write a function that flattens all the objects to a single key value dictionary. Do not use the lib that actually performs this function. { a:{b:c,d:e} } becomes {a_b:c, a_d:e} ( not, a:"b:c,d:e" }


unflat_json = {'a':{'b':'c','d':'e'}}

def flatten_json(y):
    out = {}
    print('Value of y:',y)
    def flatten(y, name =''):
        if type(y) is dict:
            for x in y:
                print(x)
                flatten(y[x], name + x + '_')
        else:
            out[name[:-1]] = y

    flatten(y)
    return out

print(flatten_json(unflat_json))

Value of y: {'a': {'b': 'c', 'd': 'e'}}
a
b
d
{'a_b': 'c', 'a_d': 'e'}

In [ ]:
# perion data engineer python question :

import json
import datetime
import pandas as pd
import numpy as np
import time
import csv
import re
import os
import schedule
import findspark
import pyspark
# import spark
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.types import ArrayType, StructField, StructType, StringType, IntegerType, DoubleType, DateType
from pyspark.sql.functions import to_timestamp


def etl():

    print("etl has started....")
    dirin = r"/Users/eranedri/Desktop/perion_test/raw_data"
    dirout = r"/Users/eranedri/Desktop/perion_test/data_out"
    historical_data = {}

    for file in os.listdir(dirin):
        print("loading converted json file to daraframe .... ")
        with open(os.path.join(dirin, file), 'r', encoding='utf8') as f:
            for line in f:
                tmp = json.loads(line)
                if tmp['keyword'] in historical_data.keys():
                  old_keyword_dic = historical_data.get(tmp['keyword'])
                  avg_old_searches = old_keyword_dic.get(
                      'avg_searches_monthly_volume')
                  avg_old_cpc = old_keyword_dic.get('avg_cpc')
                  up_seraches = (avg_old_searches + tmp['monthly_volume'])
                  up_cpc = (avg_old_cpc + tmp['cpc'])
                  update_avg_searches = up_seraches / 2
                  update_avg_cpc = up_cpc / 2
                  old_keyword_dic['avg_searches_monthly_volume'] = update_avg_searches
                  old_keyword_dic['avg_cpc'] = update_avg_cpc
                  historical_data[tmp['keyword']] = old_keyword_dic
                else:
                    keyword_dic = {
                        "avg_searches_monthly_volume": tmp['monthly_volume'], "avg_cpc": tmp['cpc'], "dt": tmp['dt']}
                    historical_data[tmp['keyword']] = keyword_dic

        with open(os.path.join(dirout, file), 'w', encoding='utf8') as f:
            print("writing file to a parquet file .... ")
            df = spark.createDataFrame(historical_data, schema)
            df.write.parquet(f)


def some_job():
    etl()
    print("schedule is running...")


if __name__ == '__main__':
    findspark.init()
    sc = SparkContext.getOrCreate()
    sqlContext = SQLContext(sc)
    spark = SparkSession(sc)

    schema = StructType([
        StructField('keyword', StringType(), True),
        StructField('avg_searches_monthly_volume', DoubleType(), True),
        StructField('avg_cpc', DoubleType(), True),
        StructField('dt', StringType(), True)
    ])

    # etl()

  schedule.every(10).minutes.do(some_job)
  while True:
    schedule.run_pending()
    time.sleep(10)

In [17]:
# bank hapoalim python test : 

import json
import datetime
import pandas as pd
import numpy as np
import time
import csv
import re
import os
import schedule
import findspark
import pyspark
from pyspark.ml.classification import LogisticRegression, DecisionTreeClassifier, GBTClassifier, LinearSVC , RandomForestClassifier
from pyspark.ml.feature import StringIndexer , VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder ,CrossValidator ,CrossValidatorModel
from pyspark.ml import pipeline
# import spark
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.types import ArrayType, StructField, StructType, StringType, IntegerType, DoubleType, DateType
import pyspark.sql.functions as F


def job():

    print("job has started....")
    print("calculating results.... ")

    # a
    print("a.... ")
    sqlDF = spark.sql("SELECT credit_history FROM table GROUP BY 1")
    sqlDF.show()

    # b
    print("b.... ")
    sqlDF = spark.sql("SELECT credit_amount , personal_status , age , employment  FROM table where credit_amount > 100000 AND age > 30 AND personal_status IN ('male div/sep','male single','male mar/wid') AND employment IN ('unemployed')")
    sqlDF.show()

    # c
    print("c.... ")
    sqlDF = spark.sql("SELECT purpose , AVG(credit_amount) FROM table GROUP BY 1 ORDER BY 2 DESC")
    sqlDF.show()

    # d
    print("d.... ")
    sqlDF = spark.sql("SELECT employment FROM table WHERE employment <> 'unemployed'")
    sqlDF.show()
    splitDF = sqlDF.withColumn("employment",F.split(F.regexp_replace("employment", "([=><X1234])(?!$)", r"$1,"), ","))
    splitDF.show()
    resultDF = splitDF.select(F.array_min(F.col("employment")).alias('min_val'))
    resultDF.show()
    print(resultDF.count())


def build_model():
    print("building model....")
    # print(df.describe().toPandas())
    dataset = df.select(F.col('age').cast('integer'),F.col('existing_credits').cast('integer'),df.employment,df.savings_status,df.other_payment_plans , df.housing,df.property_magnitude,df['class'])
    dataset = StringIndexer(inputCol='employment', outputCol='employment_encoded', handleInvalid='keep').fit(dataset).transform(dataset)
    dataset = StringIndexer(inputCol='savings_status', outputCol='savings_status_encoded', handleInvalid='keep').fit(dataset).transform(dataset)
    dataset = StringIndexer(inputCol='other_payment_plans', outputCol='other_payment_plans_encoded', handleInvalid='keep').fit(dataset).transform(dataset)
    dataset = StringIndexer(inputCol='housing', outputCol='housing_encoded', handleInvalid='keep').fit(dataset).transform(dataset)
    dataset = StringIndexer(inputCol='property_magnitude', outputCol='property_magnitude_encoded', handleInvalid='keep').fit(dataset).transform(dataset)
    dataset = StringIndexer(inputCol='class', outputCol='class_encoded', handleInvalid='keep').fit(dataset).transform(dataset)
    dataset.show()

    required_features = ['age','existing_credits','employment_encoded','savings_status_encoded','other_payment_plans_encoded','housing_encoded','property_magnitude_encoded']
    assembler = VectorAssembler(inputCols=required_features, outputCol='features')
    transformed_data = assembler.transform(dataset)
    transformed_data.show()
    (training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

    lr = LogisticRegression(labelCol= 'class_encoded' , featuresCol='features', maxIter=1000,regParam=0.02,elasticNetParam=0.8)
    dtc = DecisionTreeClassifier(labelCol= 'class_encoded' , featuresCol='features',maxDepth = 3)
    rfc = RandomForestClassifier(labelCol= 'class_encoded' , featuresCol='features')

    def evaluate(model_name,train,test):
        evaluator = MulticlassClassificationEvaluator(labelCol='class_encoded', predictionCol='prediction', metricName='accuracy')
        paramGrid = ParamGridBuilder().build()
        crossval = CrossValidator(estimator=model_name,\
        evaluator=evaluator, \
        estimatorParamMaps=paramGrid,\
        numFolds=3)
        cvModel = crossval.fit(train)
        cvModel_metrics = cvModel.avgMetrics
        transformed_data = cvModel.transform(test)
        test_metrics = evaluator.evaluate(transformed_data)
        return (cvModel_metrics, test_metrics)

    model_names = [lr,dtc,rfc]

    for model in model_names:
        a = evaluate(model,training_data,test_data)
        print(model,a)


if __name__ == '__main__':
    findspark.init()
    sc = SparkContext.getOrCreate()
    sqlContext = SQLContext(sc)
    spark = SparkSession(sc)


    dirin = r"/Users/eranedri/Desktop/bank_ass/dataset_31_credit-g.csv"
    print("loading csv file to spark daraframe .... ")
    df = spark.read.format("csv").option("header", "true").load(dirin)
    df.createOrReplaceTempView("table")
    job()
    build_model()

loading csv file to spark daraframe ....
building model....
+---+----------------+----------+------------------+-------------------+----------+-------------------+-----+------------------+----------------------+---------------------------+---------------+--------------------------+-------------+
|age|existing_credits|employment|    savings_status|other_payment_plans|   housing| property_magnitude|class|employment_encoded|savings_status_encoded|other_payment_plans_encoded|housing_encoded|property_magnitude_encoded|class_encoded|
+---+----------------+----------+------------------+-------------------+----------+-------------------+-----+------------------+----------------------+---------------------------+---------------+--------------------------+-------------+
| 67|               2|     '>=7'|'no known savings'|               none|       own|      'real estate'| good|               1.0|                   1.0|                        0.0|            0.0|                       1.0|          0.0|
| 22|               1|  '1<=X<4'|            '<100'|               none|       own|      'real estate'|  bad|               0.0|                   0.0|                        0.0|            0.0|                       1.0|          1.0|
| 49|               1|  '4<=X<7'|            '<100'|               none|       own|      'real estate'| good|               2.0|                   0.0|                        0.0|            0.0|                       1.0|          0.0|
| 45|               1|  '4<=X<7'|            '<100'|               none|'for free'|   'life insurance'| good|               2.0|                   0.0|                        0.0|            2.0|                       2.0|          0.0|
| 53|               2|  '1<=X<4'|            '<100'|               none|'for free'|'no known property'|  bad|               0.0|                   0.0|                        0.0|            2.0|                       3.0|          1.0|
| 35|               1|  '1<=X<4'|'no known savings'|               none|'for free'|'no known property'| good|               0.0|                   1.0|                        0.0|            2.0|                       3.0|          0.0|
| 53|               1|     '>=7'|     '500<=X<1000'|               none|       own|   'life insurance'| good|               1.0|                   3.0|                        0.0|            0.0|                       2.0|          0.0|
| 35|               1|  '1<=X<4'|            '<100'|               none|      rent|                car| good|               0.0|                   0.0|                        0.0|            1.0|                       0.0|          0.0|
| 61|               1|  '4<=X<7'|          '>=1000'|               none|       own|      'real estate'| good|               2.0|                   4.0|                        0.0|            0.0|                       1.0|          0.0|
| 28|               2|unemployed|            '<100'|               none|       own|                car|  bad|               4.0|                   0.0|                        0.0|            0.0|                       0.0|          1.0|
| 25|               1|      '<1'|            '<100'|               none|      rent|                car|  bad|               3.0|                   0.0|                        0.0|            1.0|                       0.0|          1.0|
| 24|               1|      '<1'|            '<100'|               none|      rent|   'life insurance'|  bad|               3.0|                   0.0|                        0.0|            1.0|                       2.0|          1.0|
| 22|               1|  '1<=X<4'|            '<100'|               none|       own|                car| good|               0.0|                   0.0|                        0.0|            0.0|                       0.0|          0.0|
| 60|               2|     '>=7'|            '<100'|               none|       own|                car|  bad|               1.0|                   0.0|                        0.0|            0.0|                       0.0|          1.0|
| 28|               1|  '1<=X<4'|            '<100'|               none|      rent|                car| good|               0.0|                   0.0|                        0.0|            1.0|                       0.0|          0.0|
| 32|               1|  '1<=X<4'|      '100<=X<500'|               none|       own|                car|  bad|               0.0|                   2.0|                        0.0|            0.0|                       0.0|          1.0|
| 53|               2|     '>=7'|'no known savings'|               none|       own|   'life insurance'| good|               1.0|                   1.0|                        0.0|            0.0|                       2.0|          0.0|
| 25|               3|      '<1'|'no known savings'|               bank|       own|                car| good|               3.0|                   1.0|                        1.0|            0.0|                       0.0|          0.0|
| 44|               1|     '>=7'|            '<100'|               none|'for free'|'no known property'|  bad|               1.0|                   0.0|                        0.0|            2.0|                       3.0|          1.0|
| 31|               1|     '>=7'|     '500<=X<1000'|               none|       own|                car| good|               1.0|                   3.0|                        0.0|            0.0|                       0.0|          0.0|
+---+----------------+----------+------------------+-------------------+----------+-------------------+-----+------------------+----------------------+---------------------------+---------------+--------------------------+-------------+
only showing top 20 rows

+---+----------------+----------+------------------+-------------------+----------+-------------------+-----+------------------+----------------------+---------------------------+---------------+--------------------------+-------------+--------------------+
|age|existing_credits|employment|    savings_status|other_payment_plans|   housing| property_magnitude|class|employment_encoded|savings_status_encoded|other_payment_plans_encoded|housing_encoded|property_magnitude_encoded|class_encoded|            features|
+---+----------------+----------+------------------+-------------------+----------+-------------------+-----+------------------+----------------------+---------------------------+---------------+--------------------------+-------------+--------------------+
| 67|               2|     '>=7'|'no known savings'|               none|       own|      'real estate'| good|               1.0|                   1.0|                        0.0|            0.0|                       1.0|          0.0|[67.0,2.0,1.0,1.0...|
| 22|               1|  '1<=X<4'|            '<100'|               none|       own|      'real estate'|  bad|               0.0|                   0.0|                        0.0|            0.0|                       1.0|          1.0|(7,[0,1,6],[22.0,...|
| 49|               1|  '4<=X<7'|            '<100'|               none|       own|      'real estate'| good|               2.0|                   0.0|                        0.0|            0.0|                       1.0|          0.0|[49.0,1.0,2.0,0.0...|
| 45|               1|  '4<=X<7'|            '<100'|               none|'for free'|   'life insurance'| good|               2.0|                   0.0|                        0.0|            2.0|                       2.0|          0.0|[45.0,1.0,2.0,0.0...|
| 53|               2|  '1<=X<4'|            '<100'|               none|'for free'|'no known property'|  bad|               0.0|                   0.0|                        0.0|            2.0|                       3.0|          1.0|[53.0,2.0,0.0,0.0...|
| 35|               1|  '1<=X<4'|'no known savings'|               none|'for free'|'no known property'| good|               0.0|                   1.0|                        0.0|            2.0|                       3.0|          0.0|[35.0,1.0,0.0,1.0...|
| 53|               1|     '>=7'|     '500<=X<1000'|               none|       own|   'life insurance'| good|               1.0|                   3.0|                        0.0|            0.0|                       2.0|          0.0|[53.0,1.0,1.0,3.0...|
| 35|               1|  '1<=X<4'|            '<100'|               none|      rent|                car| good|               0.0|                   0.0|                        0.0|            1.0|                       0.0|          0.0|(7,[0,1,5],[35.0,...|
| 61|               1|  '4<=X<7'|          '>=1000'|               none|       own|      'real estate'| good|               2.0|                   4.0|                        0.0|            0.0|                       1.0|          0.0|[61.0,1.0,2.0,4.0...|
| 28|               2|unemployed|            '<100'|               none|       own|                car|  bad|               4.0|                   0.0|                        0.0|            0.0|                       0.0|          1.0|(7,[0,1,2],[28.0,...|
| 25|               1|      '<1'|            '<100'|               none|      rent|                car|  bad|               3.0|                   0.0|                        0.0|            1.0|                       0.0|          1.0|[25.0,1.0,3.0,0.0...|
| 24|               1|      '<1'|            '<100'|               none|      rent|   'life insurance'|  bad|               3.0|                   0.0|                        0.0|            1.0|                       2.0|          1.0|[24.0,1.0,3.0,0.0...|
| 22|               1|  '1<=X<4'|            '<100'|               none|       own|                car| good|               0.0|                   0.0|                        0.0|            0.0|                       0.0|          0.0|(7,[0,1],[22.0,1.0])|
| 60|               2|     '>=7'|            '<100'|               none|       own|                car|  bad|               1.0|                   0.0|                        0.0|            0.0|                       0.0|          1.0|(7,[0,1,2],[60.0,...|
| 28|               1|  '1<=X<4'|            '<100'|               none|      rent|                car| good|               0.0|                   0.0|                        0.0|            1.0|                       0.0|          0.0|(7,[0,1,5],[28.0,...|
| 32|               1|  '1<=X<4'|      '100<=X<500'|               none|       own|                car|  bad|               0.0|                   2.0|                        0.0|            0.0|                       0.0|          1.0|(7,[0,1,3],[32.0,...|
| 53|               2|     '>=7'|'no known savings'|               none|       own|   'life insurance'| good|               1.0|                   1.0|                        0.0|            0.0|                       2.0|          0.0|[53.0,2.0,1.0,1.0...|
| 25|               3|      '<1'|'no known savings'|               bank|       own|                car| good|               3.0|                   1.0|                        1.0|            0.0|                       0.0|          0.0|[25.0,3.0,3.0,1.0...|
| 44|               1|     '>=7'|            '<100'|               none|'for free'|'no known property'|  bad|               1.0|                   0.0|                        0.0|            2.0|                       3.0|          1.0|[44.0,1.0,1.0,0.0...|
| 31|               1|     '>=7'|     '500<=X<1000'|               none|       own|                car| good|               1.0|                   3.0|                        0.0|            0.0|                       0.0|          0.0|[31.0,1.0,1.0,3.0...|
+---+----------------+----------+------------------+-------------------+----------+-------------------+-----+------------------+----------------------+---------------------------+---------------+--------------------------+-------------+--------------------+
only showing top 20 rows

LogisticRegression_fef14f1b4408 ([0.6883190745224643], 0.729064039408867)
DecisionTreeClassifier_fe9814ab66d6 ([0.6695923235584252], 0.6896551724137931)
RandomForestClassifier_85021ba886a0 ([0.6882498430634024], 0.6995073891625616)